*{                   
--cor1:    #E63946;
--cor1-90: #E94D59;
--cor1-80: #EB616B;
--cor1-70: #EE757E;
--cor1-60: #F08890;
--corMar:#9CC0FA;
--cor2: #F1FAEE;
--cor4: #A8DADC;

--cor4: #457B9D;
--cor4-90: #5889A7;
--cor4-80: #6A95B1;
--cor4-70: #7DA3BB;
--cor4-60: #8FB0C4;

--cor5: #1D3557;
--cor5-90: #344A68;
--cor5-80: #4A5D79;
--cor5-70: #61728A;
--cor5-60: #77869A;
    /*50%*/
--cor1-50: #F39CA3;
--cor2-50: #F1FAEE;
--cor3-50: #D4EDEE;
--cor4-50: #A2BDCE;
--cor5-50: #8E9AAB;
    /*10%*/
--cor1-10: #FDECED;
--cor2-10: #F1FAEE;
--cor3-10: #F7FCFC;
--cor4-10: #EDF2F6;
--cor5-10: #E9EBEF;
}
.acesso{
    background-image: url("../img/mapa2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffffff;
    opacity: 1;
    transition: 3s;
    width: 100vw;
}
.contAcesso{
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    width:30vw;
    left: 60vw;
    margin-left: 5vw;
  
    
}
.acessoBox{
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #EDF2F6;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    filter: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.6));
    padding: 2vw;
}
.acessoLinha1{
    width: 5vw;
    height:1vh;
    background-color: var(--cor1);
    margin-right: 2vw;
}
.acessoLinha2{
    width: 5vw;
    height:1vh;
    background-color: var(--cor5);
    margin-right: 2vw;
}
.acessoTxt{
    font-size: 1.2vw;
}


