*{                   
--cor1:    #E63946;
--cor1-90: #E94D59;
--cor1-80: #EB616B;
--cor1-70: #EE757E;
--cor1-60: #F08890;
--corMar:#9CC0FA;
--cor2: #F1FAEE;
--cor4: #A8DADC;

--cor4: #457B9D;
--cor4-90: #5889A7;
--cor4-80: #6A95B1;
--cor4-70: #7DA3BB;
--cor4-60: #8FB0C4;

--cor5: #1D3557;
--cor5-90: #344A68;
--cor5-80: #4A5D79;
--cor5-70: #61728A;
--cor5-60: #77869A;
    /*50%*/
--cor1-50: #F39CA3;
--cor2-50: #F1FAEE;
--cor3-50: #D4EDEE;
--cor4-50: #A2BDCE;
--cor5-50: #8E9AAB;
    /*10%*/
--cor1-10: #FDECED;
--cor2-10: #F1FAEE;
--cor3-10: #F7FCFC;
--cor4-10: #EDF2F6;
--cor5-10: #E9EBEF;
}
.implanta{
    
    background-image: url('../img/mapa4.jpg');
    background-size: cover;
}

.tableBox{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5vw;
    left: 2vw;
    top: 12vh;
    width: 40vw;
    color: #1D3557;
    background-color: #D4EDEE; 
    border-radius: 6px;  
}
.TtituloG{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
   
}
.Ttitulo{
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #ffffff;
   
}
.tRow{
    
    display: flex;
    flex-direction: row;
    
}
.tbtR{
    width: 12.6vw;    
    background-color: #ffffff;
}

.tbt{
    width: 12.6vw;
    background-color: #ffffff;
    
}
.bdr{
    padding: 0.2vw;
    margin-left: 0.2vw;
    margin-top: 0.2vh;
    margin-bottom: 0.2vh;
    border-radius: 3px;
    border: #5889A7 0.1px solid;
    
}