*{                   
--cor1:    #E63946;
--cor1-90: #E94D59;
--cor1-80: #EB616B;
--cor1-70: #EE757E;
--cor1-60: #F08890;

--cor2: #F1FAEE;
--cor4: #A8DADC;

--cor4: #457B9D;
--cor4-90: #5889A7;
--cor4-80: #6A95B1;
--cor4-70: #7DA3BB;
--cor4-60: #8FB0C4;

--cor5: #1D3557;
--cor5-90: #344A68;
--cor5-80: #4A5D79;
--cor5-70: #61728A;
--cor5-60: #77869A;
    /*50%*/
--cor1-50: #F39CA3;
--cor2-50: #F1FAEE;
--cor3-50: #D4EDEE;
--cor4-50: #A2BDCE;
--cor5-50: #8E9AAB;
    /*10%*/
--cor1-10: #FDECED;
--cor2-10: #F1FAEE;
--cor3-10: #F7FCFC;
--cor4-10: #EDF2F6;
--cor5-10: #E9EBEF;
}
.porque{
    
    background-image: linear-gradient(to right, rgba(143,176,196,0) 0%,rgba(143,176,196,0) 03%,#F7FCFC 10%,#F7FCFC 58%),url('../img/bkg/bkg1.jpg'); 
    background-repeat: no-repeat;
    background-size: contain;
}
.cardBox{
 position: relative;
 top: 12vh;
}
.contCards{
    
    display: flex;
    position: relative;
    width: 100vw;
    height: 40vh;
    justify-content: center;
    

}

.card{
    height: 30vh;
    width: 30vw;
    border-radius: 8px;
    -webkit-box-shadow: 1px 0px 3px 0px var(--cor5);
    -moz-box-shadow: 1px 0px 3px 0px var(--cor5);
    box-shadow: 1px 0px 3px 0px var(--cor5);
    margin-left: 0.5vw;
    margin-right: 0.8vw;
    background-color: #D4EDEE;
   
}
.cardtitulo{
    height: 10vh;
    background-color: #344A68;
    color: #E9EBEF;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.cardNumero{
    position: relative;
    font-size: 5vw;
    margin-left: 1vw;
    filter: drop-shadow(0.8px 1px 1px #1a2433);    
}
.cardNome{
 font-size: 1.5vw;
 margin-left: 2vw;
 filter: drop-shadow(0.8px 1px 1px #1a2433);    
}
.card1{
    height: 18vh;
    width: 19vw;
    border-bottom-left-radius: 8px;
    margin-top: 1vh;
    margin-left: 1vw;
    
}

.card2{
    height: 20vh;
    width: 10vw;
    background-color: #29fd5e;
    border-bottom-right-radius: 8px;
   
}
.contCard{
    font-size: 0.8vw;
    padding-left: 0.5vw;
    margin-top: 0.4vh;
    border-left: 3px solid #1D3557;
}

