*{                   
--cor1:    #E63946;
--cor1-90: #E94D59;
--cor1-80: #EB616B;
--cor1-70: #EE757E;
--cor1-60: #F08890;

--cor2: #F1FAEE;
--cor4: #A8DADC;

--cor4: #457B9D;
--cor4-90: #5889A7;
--cor4-80: #6A95B1;
--cor4-70: #7DA3BB;
--cor4-60: #8FB0C4;

--cor5: #1D3557;
--cor5-90: #344A68;
--cor5-80: #4A5D79;
--cor5-70: #61728A;
--cor5-60: #77869A;
    /*50%*/
--cor1-50: #F39CA3;
--cor2-50: #F1FAEE;
--cor3-50: #D4EDEE;
--cor4-50: #A2BDCE;
--cor5-50: #8E9AAB;
    /*10%*/
--cor1-10: #FDECED;
--cor2-10: #F1FAEE;
--cor3-10: #F7FCFC;
--cor4-10: #EDF2F6;
--cor5-10: #E9EBEF;
}
.slider{
    width: 100vw;
    
    position:absolute;
    justify-content: space-between;
    
}
.btnSl{
    width: 5vw;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;

}
.arrow{
    fill: #5889A7;
}
